.frame-holder {
    flex: 0 0 auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background: #373e4d;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    margin: 4px;
    padding: 8px;
    resize: vertical;
}

input {
    margin: 4px;
    padding: 8px;
}

button {
    margin: 8px;
    cursor: pointer;
    background: orange;
    border-radius: 12px;
    padding: 8px;
    display: inline;
}

.result-container {
    margin-top: 16px;
}